<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lin.dao.AnimeMapper">
	<resultMap id="BaseResultMap" type="com.lin.model.Anime">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="video_id" property="videoId" jdbcType="VARCHAR" />
		<result column="play" property="play" jdbcType="BIGINT" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="pubdate" property="pubdate" jdbcType="TIMESTAMP" />
		<result column="review" property="review" jdbcType="BIGINT" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="mid" property="mid" jdbcType="VARCHAR" />
		<result column="arcurl" property="arcurl" jdbcType="VARCHAR" />
		<result column="tag" property="tag" jdbcType="VARCHAR" />
		<result column="video_review" property="videoReview" jdbcType="BIGINT" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="favorites" property="favorites" jdbcType="BIGINT" />
		<result column="duration" property="duration" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="arcrank" property="arcrank" jdbcType="VARCHAR" />
		<result column="senddate" property="senddate" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, video_id, play, description, title, pubdate, review,
		pic, mid,
		arcurl, tag, video_review,
		author, favorites, duration, type,
		arcrank, senddate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from anime
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from anime
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.lin.model.Anime">
		insert into anime (id,
		video_id, play,
		description, title, pubdate,
		review, pic, mid, arcurl,
		tag, video_review, author,
		favorites, duration, type,
		arcrank, senddate)
		values (#{id,jdbcType=INTEGER}, #{videoId,jdbcType=VARCHAR},
		#{play,jdbcType=BIGINT},
		#{description,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP},
		#{review,jdbcType=BIGINT}, #{pic,jdbcType=VARCHAR},
		#{mid,jdbcType=VARCHAR}, #{arcurl,jdbcType=VARCHAR},
		#{tag,jdbcType=VARCHAR}, #{videoReview,jdbcType=BIGINT},
		#{author,jdbcType=VARCHAR},
		#{favorites,jdbcType=BIGINT},
		#{duration,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR},
		#{arcrank,jdbcType=VARCHAR}, #{senddate,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.lin.model.Anime">
		insert into anime
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="videoId != null">
				video_id,
			</if>
			<if test="play != null">
				play,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="pubdate != null">
				pubdate,
			</if>
			<if test="review != null">
				review,
			</if>
			<if test="pic != null">
				pic,
			</if>
			<if test="mid != null">
				mid,
			</if>
			<if test="arcurl != null">
				arcurl,
			</if>
			<if test="tag != null">
				tag,
			</if>
			<if test="videoReview != null">
				video_review,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="favorites != null">
				favorites,
			</if>
			<if test="duration != null">
				duration,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="arcrank != null">
				arcrank,
			</if>
			<if test="senddate != null">
				senddate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="videoId != null">
				#{videoId,jdbcType=VARCHAR},
			</if>
			<if test="play != null">
				#{play,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="pubdate != null">
				#{pubdate,jdbcType=TIMESTAMP},
			</if>
			<if test="review != null">
				#{review,jdbcType=BIGINT},
			</if>
			<if test="pic != null">
				#{pic,jdbcType=VARCHAR},
			</if>
			<if test="mid != null">
				#{mid,jdbcType=VARCHAR},
			</if>
			<if test="arcurl != null">
				#{arcurl,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				#{tag,jdbcType=VARCHAR},
			</if>
			<if test="videoReview != null">
				#{videoReview,jdbcType=BIGINT},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="favorites != null">
				#{favorites,jdbcType=BIGINT},
			</if>
			<if test="duration != null">
				#{duration,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="arcrank != null">
				#{arcrank,jdbcType=VARCHAR},
			</if>
			<if test="senddate != null">
				#{senddate,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
		<insert id="insertByBatch" parameterType="java.util.List">
		insert into anime (id, video_id, play,
		description, title, pubdate,
		review, pic, mid, arcurl,
		tag, video_review, author,
		favorites,
		duration, type,
		arcrank, senddate)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id,jdbcType=INTEGER},
			#{item.videoId,jdbcType=VARCHAR},
			#{item.play,jdbcType=BIGINT},
			#{item.description,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, #{item.pubdate,jdbcType=TIMESTAMP},
			#{item.review,jdbcType=BIGINT}, #{item.pic,jdbcType=VARCHAR},
			#{item.mid,jdbcType=VARCHAR}, #{item.arcurl,jdbcType=VARCHAR},
			#{item.tag,jdbcType=VARCHAR}, #{item.videoReview,jdbcType=BIGINT},
			#{item.author,jdbcType=VARCHAR},
			#{item.favorites,jdbcType=BIGINT}, #{item.duration,jdbcType=BIGINT}, #{item.type,jdbcType=VARCHAR},
			#{item.arcrank,jdbcType=VARCHAR}, #{item.senddate,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.lin.model.Anime">
		update anime
		<set>
			<if test="videoId != null">
				video_id = #{videoId,jdbcType=VARCHAR},
			</if>
			<if test="play != null">
				play = #{play,jdbcType=BIGINT},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="pubdate != null">
				pubdate = #{pubdate,jdbcType=TIMESTAMP},
			</if>
			<if test="review != null">
				review = #{review,jdbcType=BIGINT},
			</if>
			<if test="pic != null">
				pic = #{pic,jdbcType=VARCHAR},
			</if>
			<if test="mid != null">
				mid = #{mid,jdbcType=VARCHAR},
			</if>
			<if test="arcurl != null">
				arcurl = #{arcurl,jdbcType=VARCHAR},
			</if>
			<if test="tag != null">
				tag = #{tag,jdbcType=VARCHAR},
			</if>
			<if test="videoReview != null">
				video_review = #{videoReview,jdbcType=BIGINT},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="favorites != null">
				favorites = #{favorites,jdbcType=BIGINT},
			</if>
			<if test="duration != null">
				duration = #{duration,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="arcrank != null">
				arcrank = #{arcrank,jdbcType=VARCHAR},
			</if>
			<if test="senddate != null">
				senddate = #{senddate,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lin.model.Anime">
		update anime
		set
		video_id = #{videoId,jdbcType=VARCHAR},
		play = #{play,jdbcType=BIGINT},
		description = #{description,jdbcType=VARCHAR},
		title =
		#{title,jdbcType=VARCHAR},
		pubdate = #{pubdate,jdbcType=TIMESTAMP},
		review = #{review,jdbcType=BIGINT},
		pic = #{pic,jdbcType=VARCHAR},
		mid =
		#{mid,jdbcType=VARCHAR},
		arcurl = #{arcurl,jdbcType=VARCHAR},
		tag =
		#{tag,jdbcType=VARCHAR},
		video_review = #{videoReview,jdbcType=BIGINT},
		author = #{author,jdbcType=VARCHAR},
		favorites =
		#{favorites,jdbcType=BIGINT},
		duration = #{duration,jdbcType=BIGINT},
		type = #{type,jdbcType=VARCHAR},
		arcrank = #{arcrank,jdbcType=VARCHAR},
		senddate = #{senddate,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>


</mapper>